<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="deliveryMan">
      <h2 data-cy="deliveryManDetailsHeading"><span>Delivery Man</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ deliveryMan.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ deliveryMan.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ deliveryMan.email }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ deliveryMan.phoneNumber }}</span>
        </dd>
        <dt><span>Nif</span></dt>
        <dd>
          <span>{{ deliveryMan.nif }}</span>
        </dd>
        <dt><span>Nib</span></dt>
        <dd>
          <span>{{ deliveryMan.nib }}</span>
        </dd>
        <dt><span>Birthday</span></dt>
        <dd>
          <span>{{ deliveryMan.birthday | formatMediumDate }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ deliveryMan.address }}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
          <span>{{ deliveryMan.photo }}</span>
        </dd>
        <dt><span>Opening Time</span></dt>
        <dd>
          <span>{{ deliveryMan.openingTime }}</span>
        </dd>
        <dt><span>Number Of Deliveries</span></dt>
        <dd>
          <span>{{ deliveryMan.numberOfDeliveries }}</span>
        </dd>
        <dt><span>Number Of Km</span></dt>
        <dd>
          <span>{{ deliveryMan.numberOfKm }}</span>
        </dd>
        <dt><span>Received Value</span></dt>
        <dd>
          <span>{{ deliveryMan.receivedValue }}</span>
        </dd>
        <dt><span>Value To Receive</span></dt>
        <dd>
          <span>{{ deliveryMan.valueToReceive }}</span>
        </dd>
        <dt><span>Ranking</span></dt>
        <dd>
          <span>{{ deliveryMan.ranking }}</span>
        </dd>
        <dt><span>Point</span></dt>
        <dd>
          <div *ngIf="deliveryMan.point">
            <a [routerLink]="['/point', deliveryMan.point?.id, 'view']">{{ deliveryMan.point?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery-man', deliveryMan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
