<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="request">
      <h2 data-cy="requestDetailsHeading"><span>Request</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ request.id }}</span>
        </dd>
        <dt><span>Product Value</span></dt>
        <dd>
          <span>{{ request.productValue }}</span>
        </dd>
        <dt><span>Product Name</span></dt>
        <dd>
          <span>{{ request.productName }}</span>
        </dd>
        <dt><span>Source</span></dt>
        <dd>
          <span>{{ request.source }}</span>
        </dd>
        <dt><span>Destination</span></dt>
        <dd>
          <span>{{ request.destination }}</span>
        </dd>
        <dt><span>Destination Contact</span></dt>
        <dd>
          <span>{{ request.destinationContact }}</span>
        </dd>
        <dt><span>Init Date</span></dt>
        <dd>
          <span>{{ request.initDate }}</span>
        </dd>
        <dt><span>Expiration Date</span></dt>
        <dd>
          <span>{{ request.expirationDate }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ request.description }}</span>
        </dd>
        <dt><span>Special Characteristics</span></dt>
        <dd>
          <span>{{ request.specialCharacteristics }}</span>
        </dd>
        <dt><span>Weight</span></dt>
        <dd>
          <span>{{ request.weight }}</span>
        </dd>
        <dt><span>Hight</span></dt>
        <dd>
          <span>{{ request.hight }}</span>
        </dd>
        <dt><span>Width</span></dt>
        <dd>
          <span>{{ request.width }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ request.status }}</span>
        </dd>
        <dt><span>Estimated Date</span></dt>
        <dd>
          <span>{{ request.estimatedDate }}</span>
        </dd>
        <dt><span>Delivery Time</span></dt>
        <dd>
          <span>{{ request.deliveryTime }}</span>
        </dd>
        <dt><span>Shipping Costs</span></dt>
        <dd>
          <span>{{ request.shippingCosts }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ request.rating }}</span>
        </dd>
        <dt><span>Owner Request</span></dt>
        <dd>
          <div *ngIf="request.ownerRequest">
            <a [routerLink]="['/user-info', request.ownerRequest?.id, 'view']">{{ request.ownerRequest?.id }}</a>
          </div>
        </dd>
        <dt><span>Transporter</span></dt>
        <dd>
          <div *ngIf="request.transporter">
            <a [routerLink]="['/user-info', request.transporter?.id, 'view']">{{ request.transporter?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/request', request.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
