<div>
  <div>
      <div class="container-margin">
          <div class="row-align-center">
              <div class="col-md-12 text-center">
                  <img class="logo-home" src="../../content/images/icon_leb.png" style="max-height: 250px;"/>
              </div>
          </div>
      </div>
  </div>
  <br/>
  <br/>
  <div>
      <div class="row justify-content-center" style="padding: 50px">
          <div class="col-sm-3">
              <a class="card bg-light button-border-blue" routerLink="request" routerLinkActive="active">
                  <div class="card-body text-center">
                      <fa-icon icon="list" [fixedWidth]="true" style="color: #02b875; font-size: 25px"></fa-icon>
                      <h3 style="color: #02b875">Requests</h3>
                  </div>
              </a>
          </div>
          <div class="col-sm-3">
              <a class="card bg-light button-border-blue" routerLink="point" routerLinkActive="active">
                  <div class="card-body text-center">
                    <fa-icon icon="asterisk" [fixedWidth]="true" style="color: #02b875; font-size: 25px"></fa-icon>
                      <h3 style="color: #02b875">Points</h3>
                  </div>
              </a>
          </div>
          <div class="col-sm-3">
              <a class="card bg-light button-border-blue" routerLink="user-info" routerLinkActive="active">
                  <div class="card-body text-center">
                    <fa-icon icon="users-cog" [fixedWidth]="true" style="color: #02b875; font-size: 25px"></fa-icon>
                      <h3 style="color: #02b875">Users</h3>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <br/>
  <br/>
</div>
