<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="point">
      <h2 data-cy="pointDetailsHeading"><span>Point</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ point.id }}</span>
        </dd>
        <dt><span>Opening Time</span></dt>
        <dd>
          <span>{{ point.openingTime }}</span>
        </dd>
        <dt><span>Closing Time</span></dt>
        <dd>
          <span>{{ point.closingTime }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ point.address }}</span>
        </dd>
        <dt><span>Number Of Deliveries</span></dt>
        <dd>
          <span>{{ point.numberOfDeliveries }}</span>
        </dd>
        <dt><span>Owner Point</span></dt>
        <dd>
          <div *ngIf="point.ownerPoint">
            <a [routerLink]="['/user-info', point.ownerPoint?.id, 'view']">{{ point.ownerPoint?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/point', point.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
