<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-info-heading" data-cy="UserInfoCreateUpdateHeading">Create or edit a User Info</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nib">Nib</label>
          <input type="text" class="form-control" name="nib" id="field_nib" data-cy="nib" formControlName="nib" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nif">Nif</label>
          <input type="number" class="form-control" name="nif" id="field_nif" data-cy="nif" formControlName="nif" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_birthday">Birthday</label>
          <div class="d-flex">
            <input
              id="field_birthday"
              data-cy="birthday"
              type="datetime-local"
              class="form-control"
              name="birthday"
              formControlName="birthday"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_linkSocial">Link Social</label>
          <input
            type="text"
            class="form-control"
            name="linkSocial"
            id="field_linkSocial"
            data-cy="linkSocial"
            formControlName="linkSocial"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberRequests">Number Requests</label>
          <input
            type="number"
            class="form-control"
            name="numberRequests"
            id="field_numberRequests"
            data-cy="numberRequests"
            formControlName="numberRequests"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_payedValue">Payed Value</label>
          <input
            type="number"
            class="form-control"
            name="payedValue"
            id="field_payedValue"
            data-cy="payedValue"
            formControlName="payedValue"
          />
        </div>
        
        <div class="form-group">
          <label class="form-control-label" for="field_availableBalance">Available Balance</label>
          <input
            type="number"
            class="form-control"
            name="availableBalance"
            id="field_availableBalance"
            data-cy="availableBalance"
            formControlName="availableBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_frozenBalance">Frozen Balance</label>
          <input
            type="number"
            class="form-control"
            name="frozenBalance"
            id="field_frozenBalance"
            data-cy="frozenBalance"
            formControlName="frozenBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ranking">Ranking</label>
          <input type="number" class="form-control" name="ranking" id="field_ranking" data-cy="ranking" formControlName="ranking" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberOfDeliveries">Number Of Deliveries</label>
          <input
            type="number"
            class="form-control"
            name="numberOfDeliveries"
            id="field_numberOfDeliveries"
            data-cy="numberOfDeliveries"
            formControlName="numberOfDeliveries"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberOfKm">Number Of Km</label>
          <input
            type="number"
            class="form-control"
            name="numberOfKm"
            id="field_numberOfKm"
            data-cy="numberOfKm"
            formControlName="numberOfKm"
          />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_userId">User Id</label>
          <input
            type="number"
            class="form-control"
            name="userId"
            id="field_userId"
            data-cy="userId"
            formControlName="userId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
