<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-request-heading" data-cy="RequestCreateUpdateHeading">Create or edit a Request</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_productValue">Product Value</label>
          <input
            type="number"
            class="form-control"
            name="productValue"
            id="field_productValue"
            data-cy="productValue"
            formControlName="productValue"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_source">Source</label>
          <input type="text" class="form-control" name="source" id="field_source" data-cy="source" formControlName="source" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_destination">Destination</label>
          <input
            type="text"
            class="form-control"
            name="destination"
            id="field_destination"
            data-cy="destination"
            formControlName="destination"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_destinationContactEmail">Destination Email</label>
          <input
            type="text"
            class="form-control"
            name="destinationContactEmail"
            id="destinationContactEmail"
            data-cy="destinationContactEmail"
            formControlName="destinationContactEmail"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_destinationContactMobile">Destination Mobile</label>
          <input
            type="text"
            class="form-control"
            name="destinationContactMobile"
            id="field_destinationContactMobile"
            data-cy="destinationContactMobile"
            formControlName="destinationContactMobile"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_initDate">Init Date</label>
          <input type="text" class="form-control" name="initDate" id="field_initDate" data-cy="initDate" formControlName="initDate" />
        </div>

        <div class="form-group" [hidden]="editForm.get('expirationDate')!.value == null">
          <label class="form-control-label" for="field_expirationDate">Expiration Date</label>
          <input
            type="text"
            class="form-control"
            name="expirationDate"
            id="field_expirationDate"
            data-cy="expirationDate"
            formControlName="expirationDate"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_specialCharacteristics">Special Characteristics</label>
          <input
            type="text"
            class="form-control"
            name="specialCharacteristics"
            id="field_specialCharacteristics"
            data-cy="specialCharacteristics"
            formControlName="specialCharacteristics"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_weight">Weight</label>
          <input type="number" class="form-control" name="weight" id="field_weight" data-cy="weight" formControlName="weight" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_hight">Hight</label>
          <input type="number" class="form-control" name="hight" id="field_hight" data-cy="hight" formControlName="hight" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_width">Width</label>
          <input type="number" class="form-control" name="width" id="field_width" data-cy="width" formControlName="width" />
        </div>

        <div class="form-group" [hidden]="editForm.get('status')!.value == null">
          <label class="form-control-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group" [hidden]="editForm.get('shippingCosts')!.value == null">
          <label class="form-control-label" for="field_shippingCosts">Shipping Costs</label>
          <input type="number" class="form-control" name="shippingCosts" id="field_shippingCosts" data-cy="shippingCosts" formControlName="shippingCosts" />
        </div>

        <div class="form-group" [hidden]="editForm.get('rating')!.value == null">
          <label class="form-control-label" for="field_rating">Rating</label>
          <input type="number" class="form-control" name="rating" id="field_rating" data-cy="rating" formControlName="rating" />
        </div>

        <div class="form-group" [hidden]="editForm.get('ownerRequest')!.value == null">
          <label class="form-control-label" for="field_ownerRequest">Owner Request</label>
          <input type="number" class="form-control" name="ownerRequest" id="field_ownerRequest" data-cy="ownerRequest" formControlName="ownerRequest" />
        </div>

        <div class="form-group" [hidden]="editForm.get('transporter')!.value == null">
          <label class="form-control-label" for="field_transporter">Transporter</label>
          <input type="number" class="form-control" name="transporter" id="field_transporter" data-cy="transporter" formControlName="transporter" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
