<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-producer-heading" data-cy="ProducerCreateUpdateHeading">Create or edit a Producer</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_linkSocial">Link Social</label>
          <input
            type="text"
            class="form-control"
            name="linkSocial"
            id="field_linkSocial"
            data-cy="linkSocial"
            formControlName="linkSocial"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberRequests">Number Requests</label>
          <input
            type="number"
            class="form-control"
            name="numberRequests"
            id="field_numberRequests"
            data-cy="numberRequests"
            formControlName="numberRequests"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_payedValue">Payed Value</label>
          <input
            type="number"
            class="form-control"
            name="payedValue"
            id="field_payedValue"
            data-cy="payedValue"
            formControlName="payedValue"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valueToPay">Value To Pay</label>
          <input
            type="number"
            class="form-control"
            name="valueToPay"
            id="field_valueToPay"
            data-cy="valueToPay"
            formControlName="valueToPay"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ranking">Ranking</label>
          <input type="number" class="form-control" name="ranking" id="field_ranking" data-cy="ranking" formControlName="ranking" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_userInfo">User Info</label>
          <select class="form-control" id="field_userInfo" data-cy="userInfo" name="userInfo" formControlName="userInfo">
            <option *ngIf="editForm.get(['userInfo'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="userInfoOption.id === editForm.get('userInfo')!.value?.id ? editForm.get('userInfo')!.value : userInfoOption"
              *ngFor="let userInfoOption of userInfosCollection; trackBy: trackUserInfoById"
            >
              {{ userInfoOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['userInfo'])!.invalid && (editForm.get(['userInfo'])!.dirty || editForm.get(['userInfo'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['userInfo'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
